<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <div class="gh-canvas-breadcrumb">
                <LinkTo @route="settings">
                    {{t "Manual.Settings.Settings"}}
                </LinkTo>
                {{svg-jar "arrow-right-small"}}
                <LinkTo @route="settings.integrations" data-test-link="integrations-back">
                    {{t "Manual.Settings.Integrations"}}
                </LinkTo>
                {{svg-jar "arrow-right-small"}} Unsplash
            </div>
        </div>
        <section class="view-actions"></section>
    </GhCanvasHeader>

    <div class="gh-content">
        <GhLoadingSpinner />
    </div>
</section>